<div class="header__topbar bg__primary color-primary-2">
    <div class="container">
        <div class="header__topbar--inner d-flex align-items-center justify-content-between">
            <ul class="header__contact--info d-flex align-items-center">
                <li class="header__contact--info__list text-white">
                    <svg class="header__contact--info__icon" xmlns="http://www.w3.org/2000/svg" width="15.797" height="20.05" viewBox="0 0 512 512"><path d="M451 374c-15.88-16-54.34-39.35-73-48.76-24.3-12.24-26.3-13.24-45.4.95-12.74 9.47-21.21 17.93-36.12 14.75s-47.31-21.11-75.68-49.39-47.34-61.62-50.53-76.48 5.41-23.23 14.79-36c13.22-18 12.22-21 .92-45.3-8.81-18.9-32.84-57-48.9-72.8C119.9 44 119.9 47 108.83 51.6A160.15 160.15 0 0083 65.37C67 76 58.12 84.83 51.91 98.1s-9 44.38 23.07 102.64 54.57 88.05 101.14 134.49S258.5 406.64 310.85 436c64.76 36.27 89.6 29.2 102.91 23s22.18-15 32.83-31a159.09 159.09 0 0013.8-25.8C465 391.17 468 391.17 451 374z" fill="currentColor" stroke="currentColor" stroke-miterlimit="10" stroke-width="32" /></svg>
                    <a href="tel:+0982268656">+(84) 982268656</a>
                </li>
                <li class="header__contact--info__list text-white">
                    <svg class="header__contact--info__icon" xmlns="http://www.w3.org/2000/svg" width="20.57" height="13.13" viewBox="0 0 31.57 31.13">
                        <path d="M30.413,4H5.157C3.421,4,2.016,5.751,2.016,7.891L2,31.239c0,2.14,1.421,3.891,3.157,3.891H30.413c1.736,0,3.157-1.751,3.157-3.891V7.891C33.57,5.751,32.149,4,30.413,4Zm0,7.783L17.785,21.511,5.157,11.783V7.891l12.628,9.728L30.413,7.891Z" transform="translate(-2 -4)" fill="currentColor"></path>
                    </svg>
                    <a href="mailto:DucTHGCS18081@fpt.edu.vn">DucTHGCS18081@fpt.edu.vn</a>
                </li>
            </ul>
            <div class="language__currency d-none d-lg-block">
                <ul class="d-flex align-items-center">
                    <li class="language__currency--list">
                        <a class="language__switcher text-white" href="#">
                            <span>VN</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="11.797" height="9.05" viewBox="0 0 9.797 6.05">
                                <path d="M14.646,8.59,10.9,12.329,7.151,8.59,6,9.741l4.9,4.9,4.9-4.9Z" transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7" />
                            </svg>
                        </a>
                        <div class="dropdown__language">
                            <ul>
                                <li class="language__items"><a class="language__text" href="#">France</a></li>
                                <li class="language__items"><a class="language__text" href="#">Russia</a></li>
                                <li class="language__items"><a class="language__text" href="#">Spanish</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="language__currency--list">
                        <a class="account__currency--link text-white" href="#">
                            <span>VNĐ</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="11.797" height="9.05" viewBox="0 0 9.797 6.05">
                                <path d="M14.646,8.59,10.9,12.329,7.151,8.59,6,9.741l4.9,4.9,4.9-4.9Z" transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7" />
                            </svg>
                        </a>
                        <div class="dropdown__currency">
                            <ul>
                                <li class="currency__items"><a class="currency__text" href="#">CAD</a></li>
                                <li class="currency__items"><a class="currency__text" href="#">CNY</a></li>
                                <li class="currency__items"><a class="currency__text" href="#">EUR</a></li>
                                <li class="currency__items"><a class="currency__text" href="#">GBP</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
