@model oShopSolution.ViewModels.Catalog.Products.ProductUpdateRequest;
@{
    ViewBag.Title = "Update Product";
    ViewBag.pTitle = "Update Product";
    ViewBag.pageTitle = "Ecommerce";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<!-- twitter-bootstrap-wizard css -->
<link rel="stylesheet" href="/assets/libs/twitter-bootstrap-wizard/prettify.css">

<!-- select2 css -->
<link href="/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

<!-- dropzone css -->
<link href="/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <div id="addproduct-nav-pills-wizard" class="twitter-bs-wizard">
                    <ul class="twitter-bs-wizard-nav">
                        <li class="nav-item">
                            <a href="#basic-info" class="nav-link" data-toggle="tab">
                                <span class="step-number">01</span>
                                <span class="step-title">Basic Info</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content twitter-bs-wizard-tab-content">
                        <div class="tab-pane" id="basic-info">
                            <form asp-action="Update" method="post">
                                <input type="hidden" asp-for="Id"/>
                                <div class="mb-3">
                                    <label class="form-label" asp-for="Name">Product Name</label>
                                    <input id="name" asp-for="Name" type="text" class="form-control" disabled="disabled">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" asp-for="Price">Price</label>
                                    <input id="price" asp-for="Price" type="text" class="form-control">
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" asp-for="Description">Product Description</label>
                                    <textarea class="form-control" id="productdesc" rows="5" asp-for="Description"></textarea>
                                </div>
                                <div class="text-center mt-4">
                                    <button type="submit" class="btn btn-primary me-2 waves-effect waves-light">Update</button>
                                    <button asp-action="Index" type="submit" class="btn btn-primary me-2 waves-effect waves-light">Cancle</button>
                                </div>
                                <div class="text-center mt-4">
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<!-- JAVASCRIPT -->
<script src="/assets/libs/jquery/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="/assets/libs/simplebar/simplebar.min.js"></script>
<script src="/assets/libs/node-waves/waves.min.js"></script>

<!-- twitter-bootstrap-wizard js -->
<script src="/assets/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>

<script src="/assets/libs/twitter-bootstrap-wizard/prettify.js"></script>

<!-- select 2 plugin -->
<script src="/assets/libs/select2/js/select2.min.js"></script>

<!-- dropzone plugin -->
<script src="/assets/libs/dropzone/min/dropzone.min.js"></script>

<!-- init js -->
<script src="/assets/js/pages/ecommerce-add-product.init.js"></script>

<script src="/assets/js/app.js"></script>
