@model oShopSolution.ViewModels.System.Users.RegisterRequest
@{
	ViewData["Title"] = "Register";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="form">
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="signup-form">
					<!--sign up form-->
					<h2>New User Signup!</h2>
					<div asp-validation-summary="All" class="text-warning">
						<button type="button" class="close" data-dismiss="alert">x</button>
					</div>
					<form asp-action="Register" asp-controller="CustomerAccount" method="post">
						<input asp-for="FullName" type="text" placeholder="FullName" />
						<span asp-validation-for="FullName" class="text-warning"></span>
						<input asp-for="DOB" type="date" placeholder="DOB" />
						<span asp-validation-for="DOB" class="text-warning"></span>
						<input asp-for="Phone" type="text" placeholder="Phone" />
						<span asp-validation-for="Phone" class="text-warning"></span>
						<input asp-for="Username" type="text" placeholder="Username" />
						<span asp-validation-for="Username" class="text-warning"></span>
						<input asp-for="Email" type="email" placeholder="Email Address" />
						<span asp-validation-for="Email" class="text-warning"></span>
						<input asp-for="Password" type="password" placeholder="Password" />
						<span asp-validation-for="Password" class="text-warning"></span>
						<input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" />
						<span asp-validation-for="ConfirmPassword" class="text-warning"></span>
						<button type="submit" class="btn btn-default">Signup</button>
					</form>
				</div><!--/sign up form-->
			</div>
		</div>
	</div>
</section><!--/form-->
